bin
obj
build
packages

_NCrunch_*
*.ncrunchproject
*.ncrunchsolution

*_ReSharper*

*.suo
*.user

TestResult.xml
7.1.96
8.0.*

### VisualStudioCode ###
.vscode

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

