<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NBehave" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <NBehave>
    <!-- Given,When,Then in swedish -->
    <!-- add key="ActionStep" value="Givet,När,Då" / -->
    <!-- Aliases for Ergo (Given in latin) -->
    <add key="Alias.Ergo" value="Tunc,Deinde,Mox"/>
  </NBehave>
</configuration>